@keyframes slideInLeft {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}

.bruh {
  animation: 1s ease-out 0s 1 slideInLeft;
  width: auto;
}

.bruh:hover {
  transform: translate(0%, -15%) scale(1.1);
  transition-duration: 0.5s;
  cursor: pointer;
}
